/*.card{*/
/*    height: 100%;*/
/*}*/

.card {
    color: inherit; /* Changes the text color to inherit from its parent */
    text-decoration: none; /* Removes the underline */
    position: relative;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

body.dark .card {
    border: 1px solid white;
    background-color: var(--dark-background);
    color: var(--dark-text);
}

/*a:hover {*/
/*    background-color: yellow;*/
/*}*/
.card:hover {
    transform: translateY(-10px) scale(1.05);
    border: 1px solid #000000;
}