.visible {
    display: block;
}

.hidden {
    display: none;
}

.h-70 {
    height: 70vh;
}

.h-15 {
    height: 15vh;
}

.upper-semi-border {
    border-top: 10px solid var(--dark-secondary);
    width: 20%;
    display: block;
}