#root {
    max-width: 1280px;
    margin: 0 auto;
}

:root {
    --light-bg: #fdfbf4;
    --light-txt: #1f295e;

    --dark-bg: #000e0e;
    --dark-txt: #e1e9f6;
    --dark-secondary: #cab6a0;
}

body {
    background-color: var(--light-bg) !important;
    color: var(--light-txt) !important;
}

body.dark {
    background-color: var(--dark-bg) !important;
    color: var(--dark-txt) !important;
}

