#root {
    max-width: 1280px;
    margin: 0 auto;
}

:root {
    --light-bg: #fdfbf4;
    --light-txt: #1f295e;
    --light-secondary: #da3d37;

    --dark-bg: #202430;
    --dark-txt: #fefcfc;
    --dark-secondary: #cab6a0;
}

body {
    background-color: var(--light-bg) !important;
    color: var(--light-txt) !important;
}

body.dark {
    background-color: var(--dark-bg) !important;
    color: var(--dark-txt) !important;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure that the app takes at least the height of the viewport */
}

