.card {
    color: inherit; /* Changes the text color to inherit from its parent */
    text-decoration: none; /* Removes the underline */
    position: relative;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: var(--light-bg) !important;
    color: var(--light-txt) !important;

}

body.dark .card {
    border: 1px solid white;
    background-color: var(--dark-bg);
    color: var(--dark-txt) !important;
    background-color: var(--dark-bg) !important;

}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    border: 1px solid #000000;
    z-index: 1;
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5; /* Limit to 5 lines */

}

.card-text:hover {
    -webkit-line-clamp: unset;
}

.card-img-top {
    width: 100%; /* This will make the image take the full width of the card */
    height: 200px; /* Adjust as needed */
    object-fit: cover;
}