.fixed-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    backdrop-filter: blur(10px); /* Add this line */
}

.nav-link.active {
    text-decoration: underline;
    color: var(--light-text);
}

body.dark .nav-link.active {
    color: var(--dark-text); /* Add this line */
}

.navbar-brand .nav-link .navbar {
    color: var(--light-text);
}

body.dark .navbar-brand, body.dark .nav-link {
    color: var(--dark-text);
}




