
body.dark .form-control {
    background-color: var(--dark-bg);
    color: var(--dark-txt);
}

body.dark .form-control::placeholder {
    color: var(--dark-txt);
}

body.dark .float-start {
    color: var(--dark-txt);
}