.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3b434a;
}

body.dark .resume .resume-title {
    color: var(--dark-txt);
}

.resume .resume-item {
    padding: 0 0 10px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--dark-secondary);
    position: relative;
    text-align: justify;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffb727;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #eef0f2;
    padding: 0px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 0px;
}

body.dark .resume .resume-item h5 {
    background: #3b434a;
    color: var(--dark-txt);
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: var(--dark-secondary);
    border: 2px solid #82909c;
}


.noliststyle {
    list-style-type: none;
}

.arrow {
    border: var(--light-txt) solid 3px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    right: 0;

}

body.dark .arrow {
    border: var(--dark-txt) solid 3px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.arrow-small-screen {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .resume-item .expand-text {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.5s ease-out;

    }

    .resume-item:hover .expand-text {
        max-height: 1000px;
        transition: max-height 1.5s ease-in;
    }

    .arrow-small-screen {
        visibility: visible;
    }

}

.resume-item .always-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease-out;

}

.resume-item:hover .always-collapse {
    max-height: 1000px;
    transition: max-height 1.5s ease-in;
}
